*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    text-align: center;
}

#root{
    max-width: 800px;
    margin-inline: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.send{
    margin-top: 1rem;
    border-radius: 10px;
    padding-inline: 2rem;
    margin-inline: auto;
    max-width: 101px;
}

.item_list{
    margin-top: 5rem;
    border: 1px solid rgb(170, 170, 170);
    border-radius: 10px;
    max-width: 800px;
    background-color: rgb(247, 245, 245);
    height: 500px;
    display: flex;
    justify-content: center;
}

ul {
    max-width: 500px;
}

.no-todo{
    margin-top: 5rem;
    width: 300px;
    height: 400px;
    background-image: url(../img/pxArt\ Fra.png);
    background-size: contain;
    background-repeat: no-repeat;
    color: white;
}

.lined{
    text-decoration: line-through;
}

