*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    text-align: center;
}

#root{
    max-width: 800px;
    margin-inline: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.send{
    margin-top: 1rem;
    border-radius: 10px;
    padding-inline: 2rem;
    margin-inline: auto;
    max-width: 101px;
}

.item_list{
    margin-top: 5rem;
    border: 1px solid rgb(170, 170, 170);
    border-radius: 10px;
    max-width: 800px;
    background-color: rgb(247, 245, 245);
    height: 500px;
    display: flex;
    justify-content: center;
}

ul {
    max-width: 500px;
}

li{
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    min-width: 300px;
    flex-wrap: wrap;
}

.no-todo{
    margin-top: 5rem;
    width: 300px;
    height: 400px;
    background-image: url(../img/pxArt\ Fra.png);
    background-size: contain;
    background-repeat: no-repeat;
    color: black;
    position: relative
}

.lined{
    text-decoration: line-through;
}

.cancel{
    padding-inline: 0.2rem;
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
} 

.error{
    color: red;
    text-align: center;
    margin-top: 0.5rem;
}

.fra-text{
    position: absolute;
    right: -121px;
    top: -43px;
}

.fra{
    position: absolute;
    z-index: 100;
    right: -109px;
    top: -18px;
    font-size: 0.8rem;
    font-weight: 900;
}

.peppe-pic{

   width: 250px;
   height: auto;
   position: absolute;
   transform: rotate(-31deg);
    left: -308px;
    bottom: 124px;
}

.peppe-text{
    position: absolute;
    left: -172px;
    top: -43px;
    transform: rotate(-14deg);
}

.peppe{
    position: absolute;
    z-index: 100;
    left: -149px;
    top: -4px;
    font-size: 0.7rem;
    font-weight: 900;
    transform: rotate(-31deg);
}